<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="static/css/layout.css" />
    <title>点菜</title>
</head>
<body class="command-bg">

<div class="badge">
    <ul>
        <li>
            <h1><em><img src="static/images/badge_01.jpg" ></em></h1>
            <span>米渔纪米渔纪米渔纪</span>
        </li>
        <li>
            <h1><em><img src="static/images/badge_01.jpg" ></em></h1>
            <span>米渔纪</span>
        </li>
        <li>
            <h1><em><img src="static/images/badge_01.jpg" ></em></h1>
            <span>米渔纪</span>
        </li>
        <li>
            <h1><em><img src="static/images/badge_01.jpg" ></em></h1>
            <span>米渔纪</span>
        </li>
        <li>
            <h1><em><img src="static/images/badge_01.jpg" ></em></h1>
            <span>米渔纪</span>
        </li>
        <li>
            <h1><em><img src="static/images/badge_01.jpg" ></em></h1>
            <span>米渔纪</span>
        </li>
        <li>
            <h1><em><img src="static/images/badge_01.jpg" ></em></h1>
            <span>米渔纪</span>
        </li>
        <li>
            <h1><em><img src="static/images/badge_01.jpg" ></em></h1>
            <span>米渔纪</span>
        </li>
        <li>
            <h1><em><img src="static/images/badge_01.jpg" ></em></h1>
            <span>米渔纪</span>
        </li>
        <li>
            <h1><em><img src="static/images/badge_01.jpg" ></em></h1>
            <span>米渔纪</span>
        </li>
        <li>
            <h1><em><img src="static/images/badge_01.jpg" ></em></h1>
            <span>米渔纪</span>
        </li>
        <li>
            <h1><em><img src="static/images/badge_01.jpg" ></em></h1>
            <span>米渔纪</span>
        </li>
    </ul>
</div>

</body>
</html>