<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/public/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/public/static/css/layout.css" />
    <title>点菜</title>
</head>
<body class="command-bg">

<div class="command-logo"><img src="/public/static/images/logo_01.png" ></div>
<a href="javascript:void(0);" class="command-btn"><img src="/public/static/images/btn_ok.jpg" ></a>
<div class="command-remark">点击后将生成点菜口令，分享给好友，一起点菜吧！</div>
<a href="javascript:void(0);" class="command-btn"><img src="/public/static/images/btn_add.jpg" ></a>
<div class="command-remark">点击后输入同桌朋友生成的口令，一起点菜吧！</div>

</body>
</html>