<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="static/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="static/css/iconfont/iconfont.css" />
    <title>点菜</title>
</head>
<body>

<div class="dishes">
    <ul>
        <li>
            <div class="pic"><img src="static/images/pic_03.jpg" ></div>
            <a href="javascript:void(0);" class="btn-ok">下单</a>
            <div class="info">
                <h1>红烧蹄膀</h1>
                <span>价格 ¥88</span>
                <span>已下单</span>
            </div>
        </li>
        <li>
            <div class="pic"><img src="static/images/pic_03.jpg" ><em>客官,卖完啦!<br/>下次再点我!</em></div>
            <a href="javascript:void(0);" class="btn-no">不下单</a>
            <div class="info">
                <h1>红烧蹄膀</h1>
                <span>价格 ¥88</span>
                <span>已下单</span>
            </div>
        </li>
        <li>
            <div class="pic"><img src="static/images/pic_03.jpg" ></div>
            <a href="javascript:void(0);" class="btn-ok">下单</a>
            <div class="info">
                <h1>红烧蹄膀</h1>
                <span>价格 ¥88</span>
                <span>已下单</span>
            </div>
        </li>
        <li>
            <div class="pic"><img src="static/images/pic_03.jpg" ></div>
            <a href="javascript:void(0);" class="btn-ok">下单</a>
            <div class="info">
                <h1>红烧蹄膀</h1>
                <span>价格 ¥88</span>
                <span>已下单</span>
            </div>
        </li>
        <li>
            <div class="pic"><img src="static/images/pic_03.jpg" ></div>
            <a href="javascript:void(0);" class="btn-ok">下单</a>
            <div class="info">
                <h1>红烧蹄膀</h1>
                <span>价格 ¥88</span>
                <span>已下单</span>
            </div>
        </li>
    </ul>
</div>

<div class="dishes-total-bg"></div>
<div class="dishes-total">
    <div class="total">合计:¥<span>788.01</span></div>
    <div class="notice"><i class="iconfont icon-notice"></i>【桌号:15】成功下单5个菜，1个菜因缺货未下单。请耐心等候上菜。</div>
</div>

</body>
</html>