<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="static/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="static/css/iconfont/iconfont.css" />
    <title>点菜</title>
</head>
<body>

<div class="menu">
    <a href="#menuA" class="currect">网友推荐</a>
    <a href="#menuB">网友推荐</a>
    <a href="#menuC">网友推荐</a>
</div>

<div class="main">
    <ul id="menuA">
        <li>
            <a href="javascript:void(0);"><img src="static/images/pic_01.jpg" /></a>
            <h1>
                <span>剁椒鱼头 ¥60</span>
                <div class="number">
                    <div class="reduce">-</div>
                    <div class="num-con">0</div>
                    <div class="add">+</div>
                </div>
            </h1>
        </li>
    </ul>
    <ul id="menuB">
        <li>
            <a href="javascript:void(0);"><img src="static/images/pic_01.jpg" /></a>
            <h1>
                <span>剁椒鱼头 ¥60</span>
                <div class="number">
                    <div class="reduce">-</div>
                    <div class="num-con">0</div>
                    <div class="add">+</div>
                </div>
            </h1>
        </li>
    </ul>
    <ul id="menuC">
        <li>
            <a href="javascript:void(0);"><img src="static/images/pic_01.jpg" /></a>
            <h1>
                <span>剁椒鱼头 ¥60</span>
                <div class="number">
                    <div class="reduce">-</div>
                    <div class="num-con">0</div>
                    <div class="add">+</div>
                </div>
            </h1>
        </li>
        <li>
            <a href="javascript:void(0);"><img src="static/images/pic_01.jpg" /></a>
            <h1>
                <span>剁椒鱼头 ¥60</span>
                <div class="number">
                    <div class="reduce">-</div>
                    <div class="num-con">0</div>
                    <div class="add">+</div>
                </div>
            </h1>
        </li>
        <li>
            <a href="javascript:void(0);"><img src="static/images/pic_01.jpg" /></a>
            <h1>
                <span>剁椒鱼头 ¥60</span>
                <div class="number">
                    <div class="reduce">-</div>
                    <div class="num-con">0</div>
                    <div class="add">+</div>
                </div>
            </h1>
        </li>
        <li>
            <a href="javascript:void(0);"><img src="static/images/pic_01.jpg" /></a>
            <h1>
                <span>剁椒鱼头 ¥60</span>
                <div class="number">
                    <div class="reduce">-</div>
                    <div class="num-con">0</div>
                    <div class="add">+</div>
                </div>
            </h1>
        </li>
        <li>
            <a href="javascript:void(0);"><img src="static/images/pic_01.jpg" /></a>
            <h1>
                <span>剁椒鱼头 ¥60</span>
                <div class="number">
                    <div class="reduce">-</div>
                    <div class="num-con">0</div>
                    <div class="add">+</div>
                </div>
            </h1>
        </li>
        <li>
            <a href="javascript:void(0);"><img src="static/images/pic_01.jpg" /></a>
            <h1>
                <span>剁椒鱼头 ¥60</span>
                <div class="number">
                    <div class="reduce">-</div>
                    <div class="num-con">0</div>
                    <div class="add">+</div>
                </div>
            </h1>
        </li>
        <li>
            <a href="javascript:void(0);"><img src="static/images/pic_01.jpg" /></a>
            <h1>
                <span>剁椒鱼头 ¥60</span>
                <div class="number">
                    <div class="reduce">-</div>
                    <div class="num-con">0</div>
                    <div class="add">+</div>
                </div>
            </h1>
        </li>
        <li>
            <a href="javascript:void(0);"><img src="static/images/pic_01.jpg" /></a>
            <h1>
                <span>剁椒鱼头 ¥60</span>
                <div class="number">
                    <div class="reduce">-</div>
                    <div class="num-con">0</div>
                    <div class="add">+</div>
                </div>
            </h1>
        </li>
    </ul>
</div>

<div class="bar-bg"></div>
<div class="bar">
    <i class="iconfont icon-arrow-up-fine"></i>
    <div class="text"><input type="tel" placeholder="输入桌号" /></div>
    <a href="javascript:void(0);" class="btn">选好了</a>
    <div class="total">¥788.01</div>
</div>

<!--cart-->
<div class="cart">
    <ul>
        <li>
            <h1>春暖花开</h1>
            <div class="box">
                <span>¥78.01</span>
                <div class="number">
                    <div class="reduce">-</div>
                    <div class="num-con">0</div>
                    <div class="add">+</div>
                </div>
            </div>
        </li>
        <li>
            <h1>春暖花开</h1>
            <div class="box">
                <span>¥78.01</span>
                <div class="number">
                    <div class="reduce">-</div>
                    <div class="num-con">0</div>
                    <div class="add">+</div>
                </div>
            </div>
        </li>
        <li>
            <h1>春暖花开</h1>
            <div class="box">
                <span>¥78.01</span>
                <div class="number">
                    <div class="reduce">-</div>
                    <div class="num-con">0</div>
                    <div class="add">+</div>
                </div>
            </div>
        </li>
    </ul>
</div>

<!--mask-->
<div class="mask"></div>

<script src="static/js/jquery-1.10.2.min.js"></script>
<script src="static/js/fastclick.js"></script>
<script src="static/js/layout.js"></script>

</body>
</html>