<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="static/css/layout.css" />
    <title>点菜</title>
</head>
<body>

<div class="integral">
    <ul>
        <li>
            <a href="#" class="pic"><img src="static/images/pic_02.jpg" /></a>
            <div class="content">
                <a href="#" class="btn">点击兑换</a>
                <div class="box">
                    <h1>水果大礼包</h1>
                    <span><em>356</em>积分</span>
                </div>
            </div>
        </li>
        <li>
            <a href="#" class="pic"><img src="static/images/pic_02.jpg" /></a>
            <div class="content">
                <a href="#" class="btn">点击兑换</a>
                <div class="box">
                    <h1>水果大礼包</h1>
                    <span><em>356</em>积分</span>
                </div>
            </div>
        </li>
        <li>
            <a href="#" class="pic"><img src="static/images/pic_02.jpg" /></a>
            <div class="content">
                <a href="#" class="btn">点击兑换</a>
                <div class="box">
                    <h1>水果大礼包</h1>
                    <span><em>356</em>积分</span>
                </div>
            </div>
        </li>
    </ul>
</div>

</body>
</html>