<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/public/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/public/static/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/public/static/css/iconfont/iconfont.css" />
    <title>点菜</title>
</head>
<body>

<div class="person-info">
    <div class="portrait"><img src="/public/static/images/portrait.png" /></div>
    <div class="info">
        <span>度假的小鱼</span>
        <span>积分:15230</span>
    </div>
</div>

<div class="person-box">
    <a href="#" class="tit">
        <i class="iconfont icon-arrow-right-fine"></i>
        <i class="iconfont icon-star-circle"></i>
        <span>我的成就</span>
    </a>
    <div class="list-box">
        <i class="iconfont icon-arrow-left-fine"></i>
        <div class="list">
            <ul>
                <li><img src="/public/static/images/sense_01.jpg" /></li>
                <li><img src="/public/static/images/sense_01.jpg" /></li>
                <li><img src="/public/static/images/sense_01.jpg" /></li>
                <li><img src="/public/static/images/sense_01.jpg" /></li>
                <li><img src="/public/static/images/sense_01.jpg" /></li>
                <li><img src="/public/static/images/sense_01.jpg" /></li>
                <li><img src="/public/static/images/sense_01.jpg" /></li>
                <li><img src="/public/static/images/sense_01.jpg" /></li>
                <li><img src="/public/static/images/sense_01.jpg" /></li>
            </ul>
        </div>
        <i class="iconfont icon-arrow-right-fine"></i>
    </div>
</div>

<div class="person-box">
    <a href="#" class="tit">
        <i class="iconfont icon-arrow-right-fine"></i>
        <i class="iconfont icon-heart-circle"></i>
        <span>每日精选</span>
    </a>

    <div class="integral">
        <ul>
            <li>
                <a href="#" class="pic"><img src="/public/static/images/pic_02.jpg" /></a>
                <div class="content">
                    <a href="#" class="btn">点击兑换</a>
                    <div class="box">
                        <h1>水果大礼包</h1>
                        <span><em>356</em>积分</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script src="/public/static/js/jquery-1.10.2.min.js"></script>
<script src="/public/static/js/fastclick.js"></script>
<script src="/public/static/js/layout.js"></script>

</body>
</html>