<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/public/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/public/static/css/layout.css" />
    <title>点菜</title>
</head>
<body class="command-bg">

<div class="sense">
    <ul>
        <li><img src="/public/static/images/sense_01.jpg" ></li>
        <li><img src="/public/static/images/sense_01.jpg" ></li>
        <li><img src="/public/static/images/sense_01.jpg" ></li>
        <li><img src="/public/static/images/sense_01.jpg" ></li>
        <li><img src="/public/static/images/sense_01.jpg" ></li>
        <li><img src="/public/static/images/sense_01.jpg" ></li>
        <li><img src="/public/static/images/sense_01.jpg" ></li>
        <li><img src="/public/static/images/sense_01.jpg" ></li>
        <li><img src="/public/static/images/sense_01.jpg" ></li>

    </ul>
</div>

</body>
</html>